<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/patterns.css">
    <link rel="stylesheet" href="/static/css/novo-catalogo.css">
    <title>Novo Catálogo - M Souza</title>
</head>
<body>
    <div class="top-navbar">
        <div class="container">
            <img class="top-navbar-logo" src="/static/media/logo.png" alt="m souza logotipo">
            <p class="top-navbar-title">Painel Administrativo</p>
            <div class="empty">
                <a href="/pdf_service/logout"><button class="btn btn-light">Sair</button></a>
            </div>
        </div>
    </div>
    <div class="voltar">
        <a href="/pdf_service/painel-administrativo">
            <button class="voltar-bt"> ⇦  Voltar</button>
        </a>
    </div>
    <div class="menu-pt" id="menu">
        {% set messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="title-pt title">Novo Catálogo</div>
        <div class="selecionar-nome">
            <p class="label-nome">Nome:</p>
            <input class="input-nome" type="text" name="nome" id="nome" maxlength="50">
        </div>
        <div class="opcao">
            <button class="btn btn-warning opcao-bt" id="upload-option">Fazer Upload</button>
        </div>
        <div class="info" id="info">
            
        </div>
    </div>
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/static/js/classes.js"></script>
    <script type="module" src="/static/js/novo-catalogo.js"></script>
</body>
</html>